/* Styles for the form */
form {
  margin: 0 auto;
  width: 25%;
}

input,
button {
  border: none;
  padding: 2.5%;
  text-align: center;
}

input {
  width: 45%;
}
button {
  background: #2d5be3;
  color: #fff;
  cursor: pointer;
  width: 50%;
}

/* Styles for the results section */
p, #search-results {
  overflow: hidden;
}

p {
  font-size: 40px;
  font-weight: bold;
  padding: 14px 0 13px 0;
  margin: 0;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#search-results > li {
  background: #fff;
  float: left;
  padding: 1%;
  margin: 0 1% 25px 0;
  width: 17%;
}
#search-results > li:hover {
  background: none;
}

#search-results > li a {
  color: #000;
  text-decoration: none;
}

#search-results > li .name {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#search-results > li .first-line
#search-results > li .postcode
#search-results > li .stats {
  font-size: 10px;
}
